@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #100E34;
    --secondary: #FFBF18;
    --tertiary:#FFFFFF;
    --bg: #ececfa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}

header{
    background-color: var(--tertiary);
    margin-bottom: 5%;
}

.menu{
    margin: 30px;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.name h1{
    font-size: 25px;
    color:var(--tertiary);
}

.name span{
    color: var(--secondary);
}

.menu-item nav ul{
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.menu-item nav ul li a{
    color: var(--tertiary);
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

.menu-item nav ul li a:hover{
    background-color: var(--secondary);
    color: #100E34;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.menu-btn{
    padding: 10px 30px;
    background-color:var(--secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.menu-btn:hover{
    background-color: var(--tertiary);
    transform: rotate(5deg);
    border: 2px solid var(--secondary);
}

.menu-btn a{
    text-decoration: none;
    color: var(--primary);
    font-size: 16px;
    
}


/* style pour la banniere */

#hero{
    position: relative;
    background-color:var(--tertiary);
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between ;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.hero-letf{
    position: absolute;
    left: 0;
    margin-top: 10%;
    margin-left: 5%;
}

.hero-letf h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary);
}

/* .hero-letf h2 span{
    color: var(--secondary);
} */

.hero-letf strong{
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary);
}

.hero-letf p{
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--primary);
}

.hero-letf a{
    padding: 15px 40px;
    background-color: var(--secondary);
     box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    text-decoration: none;
    color: var(--primary);
    border-radius: 10px;
    transition: 0.5s;
}

.hero-letf a:hover{
    background-color: var(--primary);
    color: var(--tertiary);
    transform: rotate(10deg);
}

.hero-right img{
    position:absolute;
    top: 20px;
    left: 61%;
    width: 32%;
    height: 90%;
    padding-left: 10px;
    margin-right: 0;
   
}

/* style pour les score */

.score{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--bg);
    margin-bottom: 10%;
}

.score-item{
    padding: 20px 45px;
    background-color: var(--secondary);
    border-radius: 10px;
    text-align: center;
    color: var(--primary);
    margin-top: 60px;
    margin-bottom: 60px;
    transition: 0.5s;
}

.score-item:hover{
    transform: scale(1.1);
    background-color: var(--primary);
    color: var(--tertiary);
}

/* 
style pour la section a propos */

#about-me{
    display: flex;
    margin: 5%;
    height: 600px;
    margin-bottom: 10%;
}


.about-left img{
    width: 500px;
    height: 100%;
    object-fit: contain;
}

.about-right{
    margin-left: 5%;
}

.about-right h3{
   font-size: 30px;
   position: relative;
   padding-bottom: 10px;
    color: var(--primary);
    margin-bottom: 4%;
}


.about-right h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 10px;
}


.about-right p{
    color: var(--primary);
    font-size: 14px;
    line-height: 1.5;
}


.social-media{
    font-size: 25px;
}


.social-media .fa-facebook, .social-media .fa-discord, .social-media .fa-linkedin{
    background-color: var(--secondary);
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 35px;
    padding: 5px;
    justify-content: center;
}

.social-media a{
    color: var(--tertiary);
}


/* style pour les competences */

#competences{
    width: 100%;
    height: 500px;
    margin-bottom: 10%;
}

#competences h2{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 50px;
}

#competences h2::after{
  content: '';
  position: absolute;
  left: 39%;
  bottom: -7px;
  width: 300px;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 10px;
}

.competence-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


.competence-item .fa-solid{
    height: 30px;
    width: 30px;
    color: var(--secondary);
    margin-right: 1rem;
    font-size: 2rem;
}

.competences-technique{
    background-color:var(--tertiary);
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    color: var(--primary);
    border-radius: 10px;
    padding: 40px 80px;
    margin: 50px;
    transition: 0.5s;
}

.competences-technique:hover{
    transform: scale(1.1);
    border: 1px solid var(--primary);
}

.competences-technique h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.competences-technique ul li{
    margin-bottom: 10px;
}

/* style pour les .Technologies maitrisees */
.Technologies{
    background-color:var(--tertiary);
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    color: var(--primary);
    border-radius: 10px;
    padding: 40px 80px;
    margin: 50px;
    transition: 0.5s;
}

.Technologies:hover{
    transform: scale(1.1);
    border: 1px solid var(--primary);
}

.Technologies h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.technologies-item{
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.tech{
    background-color: white;
    border: 1px solid #e5e7eb;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* style pour les projets */

#projets{
    background-color: var(--bg);
    height: 750px;
    padding: 50px;
}

#projets h1{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 15px;
}

#projets h1::after{
  content: '';
  position: absolute;
  left: 42%;
  bottom: -7px;
  width: 200px;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 10px;
}


#projets .text{
    color: var(--primary);
    text-align: center;
    margin-bottom: 40px;
}

.card-projet{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.card-item{
    background-color:var(--tertiary);
     box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    width: 31%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 60px;
    transition: 0.5s;
}

.card-item:hover{
    transform: scale(1.1);
}

.card-item img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
}

.card-item img:hover{
    transform: scale(1.0);
}

.card-item h3{
    font-size: 20px;
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.card-item p{
    color: var(--primary);
    padding: 15px;
    margin-bottom: 5px;
    text-align: start;
}

.card-item ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 15px;
    margin-bottom: 10px;
}

.card-item ul li{
    color: #100E34;
    background-color: #f5f3f3;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.projet-btn{
    text-align: center;
    transition: 0.5s;
}

.projet-btn:hover{
    transform: rotate(5deg);
}

.projet-btn a{
    padding: 20px 50px;
    background-color: var(--tertiary);
    border: 2px solid var(--primary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary);
}

.projet-btn a:hover{
    background-color: var(--secondary);
    color: var(--primary);
}

/* style pour la page contact */
#contact{
    width: 100%;
    height: 600px;
    position: relative;
}

#contact h2{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    margin-top: 90px;
    margin-bottom: 15px;
}

#contact h2::after{
  content: '';
  position: absolute;
  left: 41.5%;
  bottom: -7px;
  width: 240px;
  height: 4px;
  background-color: var(--secondary);
  border-radius: 10px;
}

#contact p{
    color: var(--primary);
    text-align: center;
    margin-bottom: 40px;
}

.contact-item{
    display: flex;
    justify-content: space-between;
}

.contact-left{
    background-color: var(--tertiary);
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    border-radius: 8px;
    width: 50%;
    height: 50%;
    margin: 40px;
}

.contact-left form{
    margin: 20px;
}


.contact-left label{
    font-size: 16px;
    color: var(--primary);
}

.contact-left input{
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #999;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.contact-left textarea{
    padding: 30px 15px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 2px solid #999;
    border-radius: 8px;
}

.contact-left button{
    width: 100%;
    padding: 15px;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-left button:hover{
    background-color: var(--secondary);
}

.contact-left button a{
    text-decoration: none;
    color: var(--tertiary);
    font-size: 16px;
}


.contact-right img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    padding-right: 80px;
}


/* style pour le footer */

footer{
    background-color: var(--primary);
    border-radius: 60px 60px 0 0;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--tertiary);
    font-size: 16px;
    margin-top: 90px;
}

footer .logo-div span{
    color: var(--secondary);
}


