:root{
    --primary: #100E34;
    --secondary: #FFBF18;
    --tertiary:#FFFFFF;
    --bg: #ececfa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--tertiary);
}

.menu{
    margin: 30px;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.name h1{
    font-size: 25px;
    color:var(--tertiary);
}

.name span{
    color: var(--secondary);
}

.menu-item nav ul{
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.menu-item nav ul li a{
    color: var(--tertiary);
    text-decoration: none;
    font-size: 18px;
}

.menu-btn{
    padding: 8px 15px;
    background-color:var(--secondary);
    border-radius: 8%;
}

.menu-btn a{
    text-decoration: none;
    color: var(--primary);
    font-size: 16px;
}

/* style pour la banniere */

.hero{
    position: relative;
    background-color:var(--tertiary);
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between ;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-letf{
    position: absolute;
    left: 0;
    margin-top: 10%;
    margin-left: 5%;
}

.hero-letf h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary);
}

/* .hero-letf h2 span{
    color: var(--secondary);
} */

.hero-letf strong{
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary);
}

.hero-letf p{
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--primary);
}

.hero-letf a{
    padding: 10px 40px;
    background-color: var(--secondary);
    text-decoration: none;
    color: var(--primary);
    border-radius: 10px;
}

.hero-right img{
    position:absolute;
    top: 20px;
    left: 850px;
    width: 32%;
    height: 90%;
    padding-left: 10px;
    margin-right: 0;
   
}

/* 
style pour la section a propos */

.about-me{
    display: flex;
    margin: 5%;
}


.about-left img{
    width: 500px;
    height: 60%;
    object-fit: contain;
}

.about-right{
    margin-left: 5%;
}

.about-right h3{
    font-size: 28px;
    color: var(--secondary);
    margin-bottom: 4%;
}

.about-right p{
    color: var(--primary);
    font-size: 14px;
    line-height: 1.5;
}


.social-media{
    font-size: 25px;
}

.social-media .fa-facebook, .social-media .fa-discord, .social-media .fa-linkedin{
    background-color: var(--secondary);
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 35px;
    padding: 5px;
    justify-content: center;
}

.social-media a{
    color: var(--tertiary);
}


/* style pour les projets */

.projets{
    background-color: var(--bg);
    height: 750px;
    padding: 50px;
}

.projets h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 15px;
}

.projets p{
    color: var(--primary);
    text-align: center;
    margin-bottom: 40px;
}

.card-projet{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.card-item{
    background-color:var(--tertiary);
    width: 32%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 60px;
}

.card-item img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}

.card-item h3{
    font-size: 20px;
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.card-item p{
    padding: 15px;
    margin-bottom: 10px;
    text-align: start;
}

.card-item ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 15px;
}

.card-item ul li{
    color: #100E34;
    background-color: #f5f3f3;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.projet-btn{
    text-align: center;
}

.projet-btn a{
    padding: 20px 50px;
    background-color: var(--tertiary);
    border: 2px solid var(--primary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary);
}